<app-add-edit-person
  (valid)="onPersonFormStatusChanged($event)"
></app-add-edit-person>

<app-alert class="alert"></app-alert>

<section class="form-section">
  <h3>User Information</h3>

  <form [formGroup]="userInfoForm" class="form-grid" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        id="username"
        formControlName="username"
        placeholder="Enter Username"
        class="text-input"
      />
      <span
        *ngIf="
          userInfoForm?.get('username')?.invalid &&
          userInfoForm?.get('username')?.touched
        "
      >
        <app-error-message-input
          errorMessage="Username is required"
        ></app-error-message-input>
      </span>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Enter Password"
        class="text-input"
      />
      <span
        *ngIf="
          userInfoForm?.get('password')?.invalid &&
          userInfoForm?.get('password')?.touched
        "
      >
        <app-error-message-input
          errorMessage="Password is required"
        ></app-error-message-input>
      </span>
    </div>

    <div class="form-group">
      <!-- <label for="permissions">Permissions</label> -->
      <!-- <input
        id="permissions"
        type="number"
        formControlName="permissions"
        placeholder="Enter Permissions"
        class="text-input"
      /> -->

      <fieldset formGroupName="permissions">
        <legend>Permissions</legend>
        <div>
          <div class="permission-item">
            <input
              type="checkbox"
              formControlName="showClients"
              value="1"
              id="show-clients"
              (change)="onParentCheckboxChange($event, 'clients')"
            />
            <label for="show-clients">Show Clients</label>
          </div>
          <div class="permission-item">
            <input
              type="checkbox"
              formControlName="addNewClient"
              value="1"
              id="add-new-client"
            />
            <label for="add-new-client">Add New Client</label>
          </div>
          <div class="permission-item">
            <input
              type="checkbox"
              formControlName="updateClient"
              value="1"
              id="update-client"
            />
            <label for="update-client">Update Client</label>
          </div>
          <div class="permission-item">
            <input
              type="checkbox"
              formControlName="removeClient"
              value="1"
              id="remove-client"
            />
            <label for="remove-client">Remove Client</label>
          </div>
        </div>

        <div>
          <div class="permission-item">
            <input
              type="checkbox"
              formControlName="showUsers"
              value="2"
              id="show-users"
              (change)="onParentCheckboxChange($event, 'users')"
            />
            <label for="show-users">Show Users</label>
          </div>
          <div class="permission-item">
            <input
              type="checkbox"
              formControlName="addNewUser"
              value="1"
              id="add-new-user"
            />
            <label for="add-new-user">Add New User</label>
          </div>
          <div class="permission-item">
            <input
              type="checkbox"
              formControlName="updateUser"
              value="1"
              id="update-user"
            />
            <label for="update-user">Update User</label>
          </div>
          <div class="permission-item">
            <input
              type="checkbox"
              formControlName="removeUser"
              value="1"
              id="remove-user"
            />
            <label for="remove-user">Remove User</label>
          </div>
        </div>

        <div>
          <div class="permission-item">
            <input
              type="checkbox"
              formControlName="showTransactions"
              value="3"
              id="show-transactions"
            />
            <label for="show-transactions">Show Transactions</label>
          </div>
        </div>

        <div>
          <div class="permission-item">
            <input
              type="checkbox"
              formControlName="showLoginRegisters"
              value="4"
              id="show-login-registers"
            />
            <label for="show-login-registers">Show Login Registers</label>
          </div>
        </div>
      </fieldset>

      <span
        *ngIf="
          userInfoForm?.get('permissions')?.invalid &&
          userInfoForm?.get('permissions')?.touched
        "
      >
        <app-error-message-input
          errorMessage="Permissions is required"
        ></app-error-message-input>
      </span>
    </div>

    <div class="form-group">
      <label for="isActive">Active Status</label>
      <div class="active-checkbox">
        <input id="isActive" type="checkbox" formControlName="isActive" />
        <span
          [ngStyle]="{
            color: userInfoForm.get('isActive')?.value
              ? 'rgb(0, 215, 86)'
              : 'rgb(215, 0, 0)'
          }"
        >
          {{ userInfoForm.get("isActive")?.value ? "Active" : "Inactive" }}
        </span>
      </div>
    </div>

    <div class="actions">
      <button class="cancel-button" (click)="onCancel()">Cancel</button>
      <button type="reset" (click)="onReset()">Reset</button>
      <button
        type="submit"
        [ngClass]="{
          'disabled-submit-button': userInfoForm.invalid || !isPersonFormValid
        }"
      >
        Save
      </button>
    </div>
  </form>
</section>
