<section>
  <div>
    <app-header-item
      titleName="Manage Users"
      buttonName="Add User"
      class="header"
    ></app-header-item>
  </div>

  <app-data-grid
    *ngIf="!isAddingMode"
    [categoriesForFiltering]="catagoriesForFiltering"
    [displayedColumns]="displayedColumnsName"
    [dataSource$]="usersData$"
    [actions]="actions"
  ></app-data-grid>

  <app-paginator
    *ngIf="!isAddingMode"
    [totalRecords$]="usersCount$"
    (changeData)="onChangeDataByPaginator($event)"
  ></app-paginator>

  <router-outlet></router-outlet>
</section>
