<section>
  <div>
    <app-header-item
      titleName="Manage Users"
      buttonName="Add User"
      class="header"
    ></app-header-item>
  </div>

  <app-data-grid
    [categoriesForFiltering]="catagoriesForFiltering"
    [displayedColumns]="displayedColumnsName"
    [dataSource$]="usersData$"
    [actions]="{
      update: updateRow,
      remove: removeRow
    }"
  ></app-data-grid>

  <app-paginator [totalRecords$]="usersCount$" (changeData)="onChangeDataByPaginator($event)"></app-paginator>
</section>
