<header>
  <div class="left-side">
    <img src="../../assets/icons/bank-header.png" alt="bank-icon" />
    <p>Bank Management System</p>
  </div>
  <div class="right-side">
    <img
      *ngIf="isLoginSuccess"
      [src]="
        isUserMale
          ? '../../assets/icons/male-user-header.png'
          : '../../assets/icons/female-user-header.png'
      "
      alt="Profile"
    />

    <ul *ngIf="!isLoginSuccess">
      <li>
        <a (click)="onLogin()">Login</a>
      </li>
      <li>
        <a>Forgotten Password?</a>
      </li>
    </ul>
  </div>
</header>
