<header>
  <div class="left-side">
    <img src="../../assets/icons/bank-header.png" alt="bank-icon" />
    <p>Bank Management System</p>
  </div>
  <div class="right-side">
    <div
      class="dropdown"
      [ngClass]="{ 'dropdown-menu-active': isDropdownOpen }"
    >
      <img
        *ngIf="isLoginSuccess"
        [src]="
          isUserMale
            ? '../../assets/icons/male-user-header.png'
            : '../../assets/icons/female-user-header.png'
        "
        alt="Profile"
        class="dropdown-toggle"
        (click)="toggleDropdown()"
      />
      <div class="dropdown-menu">
        <a href="#" class="dropdown-item">Change Password</a>
        <a href="#" class="dropdown-item" (click)="onSignOut()">Sign Out</a>
      </div>
    </div>

    <ul *ngIf="!isLoginSuccess">
      <li>
        <a (click)="onLogin()">Login</a>
      </li>
      <li>
        <a>Forgotten Password?</a>
      </li>
    </ul>
  </div>
</header>
