<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Define columns dynamically -->
  <ng-container *ngFor="let column of displayedColumns">
    <ng-container [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let element">
        <!-- Handle special cases like Actions column -->
        <ng-container *ngIf="column === 'Actions'; else statusOrNormalCell">
          <button mat-button (click)="actions.update(element)">Update</button>
          <button mat-button (click)="actions.remove(element)">Remove</button>
        </ng-container>

        <ng-template #statusOrNormalCell>
          <ng-container *ngIf="column === 'Status'; else normalCell">
            <!-- Special handling for Status column -->
            <span
              [ngStyle]="{
                color:
                  element.status
                  | statusColor : 'rgb(0, 215, 86)' : 'rgb(215, 0, 0)'
              }"
              >{{ element[convertToCamelCase(column)] }}</span
            >
          </ng-container>
        </ng-template>

        <ng-template #normalCell>
          {{ element[convertToCamelCase(column)] }}
        </ng-template>
      </td>
    </ng-container>
  </ng-container>

  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
