<div class="filter-container">
  <!-- Filter by category dropdown -->
  <select
    [(ngModel)]="selectedCategory"
    (change)="applyFilter()"
    (change)="checkGenderOrStatusSelected(selectedCategory)"
  >
    <option *ngFor="let category of categoriesForFiltering" [value]="category">
      {{ category }}
    </option>
  </select>

  <!-- Filter input -->
  <input
    *ngIf="!isFilterByGender && !isFilterByStatus"
    type="text"
    placeholder="Enter filter text"
    [(ngModel)]="filterText"
    (input)="applyFilter()"
  />

  <span *ngIf="isFilterByGender" class="container-select">
    <select
      #selectedGender
      name="gender"
      id="gender"
      (change)="applyFilterGender(selectedGender.value)"
    >
      <option value="all">All</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </span>

  <span *ngIf="isFilterByStatus" class="container-select">
    <select
      #selectedStatus
      name="status"
      id="status"
      (change)="applyFilterStatus(selectedStatus.value)"
    >
      <option value="all">All</option>
      <option value="active">Active</option>
      <option value="inactive">Inactive</option>
    </select>
  </span>
</div>

<table mat-table [dataSource]="filteredData" class="mat-elevation-z8">
  <!-- Define columns dynamically -->
  <ng-container *ngFor="let column of displayedColumns">
    <ng-container [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let element">
        <!-- Handle special cases like Actions column -->
        <ng-container
          *ngIf="column === 'Actions'; else statusOrBalanceOrNormalCell"
        >
          <button mat-button (click)="actions.update(element)">Update</button>
          <button mat-button (click)="actions.remove(element)">Remove</button>
        </ng-container>

        <ng-template #statusOrBalanceOrNormalCell>
          <ng-container *ngIf="column === 'Status'; else balanceOrNormalCell">
            <!-- Special handling for Status column -->
            <span
              [ngStyle]="{
                color:
                  element.status
                  | statusColor : 'rgb(0, 215, 86)' : 'rgb(215, 0, 0)'
              }"
              >{{ element.status || "UNKNOWN" }}</span
            >
          </ng-container>
        </ng-template>

        <ng-template #balanceOrNormalCell>
          <ng-container *ngIf="column === 'Balance'; else normalCell">
            <span
              [ngStyle]="{
                color: element.balance ? 'black' : 'rgb(191, 191, 133)'
              }"
              >{{ (element.balance | currency) || "UNKNOWN" }}</span
            >
          </ng-container>
        </ng-template>

        <ng-template #normalCell>
          <span
            [ngStyle]="{
              color: element[convertToCamelCase(column)]
                ? 'black'
                : 'rgb(191, 191, 133)'
            }"
            >{{ element[convertToCamelCase(column)] || "UNKNOWN" }}</span
          >
        </ng-template>
      </td>
    </ng-container>
  </ng-container>

  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
