<section>
  <div>
    <label for="items">Items per page:</label>
    <select
      name="items-per-page"
      id="itmes"
      (change)="onCurrentSizeChanged($event)"
    >
      <option *ngFor="let size of sizes">
        {{ size }}
      </option>
    </select>
  </div>

  <div class="page-number-info">{{ currentPage }} of {{ totalPages }}</div>

  <div>
    <span class="arrow go-to-first" (click)="onCurrentPageChanged(1)">
      &laquo;
    </span>

    <span
      class="arrow next-one"
      (click)="onCurrentPageChanged(currentPage - 1)"
    >
      &lsaquo;
    </span>

    <span
      class="arrow previous-one"
      (click)="onCurrentPageChanged(currentPage + 1)"
    >
      &rsaquo;
    </span>

    <span class="arrow go-to-last" (click)="onCurrentPageChanged(totalPages)">
      &raquo;
    </span>
  </div>

  <div></div>
</section>
