@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin list-stylings {
  display: flex;
  list-style-type: none;
}

@mixin overlay($color, $opacity) {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color, $opacity);
}

@mixin icon-styling {
  height: 2rem;
  margin-right: 0.3rem;
  cursor: pointer;
}
