<section>
  <div>
    <app-header-item
      titleName="Manage Clients"
      buttonName="Add Client"
      class="header"
    ></app-header-item>
  </div>

  <!-- <app-data-grid
    [categoriesForFiltering]="catagoriesForFiltering"
    [displayedColumns]="displayedColumnsName"
    [dataSource$]="clientsData$"
    [actions]="{
      update: updateRow,
      remove: removeRow
    }"
  ></app-data-grid>

  <app-paginator [totalRecords$]="clientsCount$" (changeData)="onChangeDataByPaginator($event)"></app-paginator> -->
  <app-add-update-person></app-add-update-person>
</section>
