<section>
  <div>
    <app-header-item
      titleName="Manage Clients"
      buttonName="Add Client"
      class="header"
    ></app-header-item>
  </div>

  <app-data-grid
    *ngIf="!isAddingMode"
    [categoriesForFiltering]="catagoriesForFiltering"
    [displayedColumns]="displayedColumnsName"
    [dataSource$]="clientsData$"
    [actions]="{
      update: updateRow,
      remove: removeRow
    }"
  ></app-data-grid>

  <app-paginator
    *ngIf="!isAddingMode"
    [totalRecords$]="clientsCount$"
    (changeData)="onChangeDataByPaginator($event)"
  ></app-paginator>

  <router-outlet></router-outlet>
</section>
