@use "../styles/mixins" as *;

:host {
  @include flex-center;
}

img {
  height: 2rem;
  margin-right: 1rem;
  margin-top: 0.2rem;
  transition: all 0.12s;
  &:hover {
    transform: scale(1.1);
  }
}
a {
  color: #7f888b;
  text-decoration: none;
  font-size: 1.4rem;
  &:hover {
    color: #a0a7ce;
    transition: all 0.12s;
  }
}
